<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>注册页面</title>
<link href="/register/boilerplate.css" rel="stylesheet" type="text/css">
<link href="/register/register.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="/register/respond.min.js"></script>
</head>
<body>
<div class="gridContainer clearfix">
  <div id="div1" class="fluid">注册</div>
</div>
<hr>
<script>
	var able=false;
	var url='/uesrsControl.js';//提交注册处理页面
	
	var xmlHttprequest;//AJAX对象的创建	
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  	xmlHttprequest=new XMLHttpRequest();
	  }
		else
	  {// code for IE6, IE5
	 	 xmlHttprequest=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	
	
	
	function $(id){
			return document.getElementById(id);
		}
		
		
		
	function checkname(){
			if(xmlHttprequest){
					xmlHttprequest.open('POST',url,true);
					xmlHttprequest.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
					xmlHttprequest.onreadystatechange=sendNameForCheck;
					
					var data;
					data= "{'method':'register','userInfo':{'userType':1,'name':'"+$('uesrname').value+"','sex':'F','password':'"+$('pw').value+"','email':'"+$('email').value+"'}}";
					
					xmlHttprequest.send(data);
					
					
			}else{
				$('able').innerHtml="浏览器内部严重错误";		
			}
		
		
		}
		
	function sendNameForCheck(){
			if(xmlHttprequest.readyState==4){
				//如果成功返回4，代表接收了服务器数据返回
					$('able').innerHTML=xmlHttprequest.responseText;
				}
		
		}
		
		
		

</script>



<form>
  
  <p>
    <label for="username">用户名:</label>
      <input type="text" id="uesrname"name="username" >
      <able id="able" style="font-size: 10px; color: green;">可用</able>
  </p>
    <label for="textfield2">邮箱:</label>
      <input type="text" id="email" name="email" >
    </p>
    <p>
      <label for="textfield3">密码:</label>
      <input type="password" id="pw" name="pw" >
    </p>
    <p>
      <input type="submit" onclick="checkname();" name="submit" id="submit" value="注册">
      <input type="button" onclick="checkname();" name="button" id="button" value="提交">
    </p>
    <hr>
    <p>&nbsp;</p>
  
</form>

</body>
</html>
