<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar','Button']" ></script>
    <script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
    <script src="/javascripts/jquery-2.1.4.js"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2f0fwiWAc4xm8mdCDkXUrFUs"></script>
    <script type="text/javascript" src="/javascripts/addParty.js" >

    </script>


    <style>
        html,body{
            height: 100%;
            overflow: hidden;
        }

    </style>
    <title>LBS</title>
</head>
<body>
<div id="allmap"></div>
<div  data-dojo-type="dojox.mobile.ScrollableView">
    <!--<h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props='fixed:"top"'>新晚会信息</h1>-->



    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">基本信息</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
        晚会名称:</br><input id="name" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"></br>
        晚会时间:</br><input id="time" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"></br>
        晚会地点:</br><input id="location" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"></br>
        </center>

    </div>
    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">其他信息</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
        类型:</br><input id="type" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"><br>
        主办方:</br><input id="hosts" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"><br>
        详细介绍[支持HTML格式]:</br>
            <textarea id="detail" data-dojo-type="dojox.mobile.TextArea" rows="20" cols="30" >支持HTML格式</textarea>



            </center>
    </div>
        <h2 data-dojo-type="dojox.mobile.RoundRectCategory">节目表</h2>

        <ul data-dojo-type="dojox.mobile.RoundRectList" id="showLists">
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'  >
            <center>

                节目名称--演员列表
                </br>
                 <button data-dojo-type="dojox.mobile.Button" id="cls" class="mblRedButton" onclick="clsShowList();">清空列表</button>
               <button data-dojo-type="dojox.mobile.Button" id="addshow" class="mblBlueButton" onclick="addShowList();">添加新节目</button>
            </center>


            </li>

            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>





        </ul>




    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">文件上传</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
    <input type="file" multiple="false" dojoType="dojox.form.Uploader"
           label="选择海报文件" url="/party/uploadposter"
           uploadOnSelect="true"/>
        </center>
    </div>

    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
        <button data-dojo-type="dojox.mobile.Button" id="send" class="mblBlueButton" style="width:90%" onclick="send()">发送</button>
            </center>
        </div>


</div>

</body>

<script>
    //        var geolocation = new BMap.Geolocation();
    //        geolocation.getCurrentPosition(function(r){
    //            if(this.getStatus() == BMAP_STATUS_SUCCESS){
    //                alert('您的位置：'+r.point.lng+','+r.point.lat);
    //            }
    //            else {
    //                alert('failed'+this.getStatus());
    //            }
    //        },{enableHighAccuracy: true})

    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放





</script>


</html>