<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar','Button']" ></script>
    <script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
    <script src="/javascripts/jquery-2.1.4.js"></script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2f0fwiWAc4xm8mdCDkXUrFUs"></script>
    <script type="text/javascript" src="/javascripts/addParty.js" >

    </script>


    <style>
        html,body{
            height: 100%;
            overflow: hidden;
        }

    </style>
    <title>LBS</title>
</head>
<body>

<script>



</script>
<div  data-dojo-type="dojox.mobile.ScrollableView">
    <!--<h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props='fixed:"top"'>新晚会信息</h1>-->



    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">基本信息</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
        晚会名称:</br><input id="new_name" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"></br>
        晚会时间:</br><input id="new_time" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"></br>
        晚会地点:</br><input id="new_location" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true" value="点击选择地点" onclick="window.open('/map'); "></br>
            <div id="new_location_detail"></div>
        </center>

    </div>
    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">其他信息</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
        类型:</br><input id="new_type" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"><br>
        主办方:</br><input id="new_hosts" data-dojo-type="dojox/mobile/TextBox" intermediateChanges="true" selectOnClick="true"><br>
        详细介绍[支持HTML格式]:</br>
            <textarea id="new_detail" data-dojo-type="dojox.mobile.TextArea" rows="20" cols="30" >支持HTML格式</textarea>



            </center>
    </div>
        <h2 data-dojo-type="dojox.mobile.RoundRectCategory">节目表</h2>

        <ul data-dojo-type="dojox.mobile.RoundRectList" id="showLists">
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'  >
            <center>

                节目名称--演员列表
                </br>
                 <button data-dojo-type="dojox.mobile.Button" id="cls" class="mblRedButton" onclick="clsShowList();">清空列表</button>
               <button data-dojo-type="dojox.mobile.Button" id="addshow" class="mblBlueButton" >添加新节目</button>
            </center>

            </li>

            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'name="show" class="showList">
                <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" selectOnClick="true">
                </center>
            </li>


        </ul>




    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">文件上传</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
    <input id="loader" type="file" multiple="false" dojoType="dojox.form.Uploader"
           label="选择海报文件(小于1M)" url="/party/uploadposter"
           />
        </center>
    </div>

    <div data-dojo-type="dojox.mobile.RoundRect">
        <center>
        <button data-dojo-type="dojox.mobile.Button" id="send" class="mblBlueButton" style="width:90%" onclick="send()">发送</button>
            </center>
        </div>


</div>

</body>
</html>