<!DOCTYPE html>
<html lang="en">
<head>
	<!--<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">-->
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>

	<script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar','PageIndicator']" ></script>
	<script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true, mblAlwaysHideAddressBar: true"></script>
	<script src="/javascripts/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2f0fwiWAc4xm8mdCDkXUrFUs"></script>
	<script type="text/javascript">
		require([
			"dojo/_base/connect",
			"dojo/dom",
			"dojo/ready",
			"dojox/mobile/parser",
			"dojox/mobile",
			"dojox/mobile/compat",
			"dojox/mobile/ComboBox",
			"dojox/mobile/ScrollableView",
			"dojox/mobile/IconContainer",
			"dojox/mobile/pageTurningUtils",
			"dojox/mobile/TabBar",
			"dojox/mobile/SwapView",
			"dojox/mobile/PageIndicator",
			"dojox/mobile/ScrollablePane",
				"dojox/mobile/ToolBarButton"
		]);




		function loadJS(js){



			var oHead = document.getElementsByTagName('HEAD').item(0);

			var oScript= document.createElement("script");

			oScript.type = "text/javascript";

			oScript.src=js;

			oHead.appendChild( oScript);





		}
		deviceTheme.loadDeviceTheme('Custom')

	</script>

	<style>
		html,body{
			height: 100%;
			overflow: hidden;
		}
		.mblSwapView {
			height: 50%;

			text-align: center;
		}
		.party {
			-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
			width: 60%;
		}
		.test{
			height: 40%;
		}


	</style>
	<title>LBS</title>
</head>
<body>
<div id="topHead" data-dojo-type="dojox.mobile.Heading" data-dojo-props='fixed:"top"'><div><div style="float:left;margin-top: 5px">&nbsp;&nbsp;&nbsp;<img height="30dp" width="30dp" src="/images/LOGO.png"></div>主页</div>

</div>
<div id="home" data-dojo-type="dojox.mobile.ScrollableView">


	<% for(var i=1;i<=party.length;i++){ %>

		<div data-dojo-type="dojox.mobile.SwapView"  data-dojo-props='variableHeight:true' >
			<div  class="test" data-dojo-type="dojox.mobile.ListItem" onclick="loadJS('/javascripts/partyInfo.js')" href="party/info/<%= party[i-1].ID%>">
				<img class="party" alt="404 NOT Found" src="<%= party[i-1].poster %>">

			</div>
			<div data-dojo-type="dojox.mobile.RoundRect">
				<div><%= party[i-1].name %></div>
				<div>时间:<%= party[i-1].time %></div>
				<div>地点:<%= party[i-1].location %></div>
				<div>类型:<%= party[i-1].type %></div>
			</div>

		</div>

	<% } %>


</div>
<ul data-dojo-type="dojox.mobile.TabBar" data-dojo-props='fixed:"bottom"' style="border-bottom:none;">
	<li  data-dojo-type="dojox.mobile.TabBarButton" data-dojo-props='icon1:"/javascripts/dojox/mobile/tests/images/i-icon-3.png", icon2:"/javascripts/dojox/mobile/tests/images/i-icon-1.png",selected:true, moveTo:"home" ' onclick="document.getElementById('topHead').innerHTML='<div><div style=&quot;float:left;margin-top: 5px&quot;>&nbsp;&nbsp;&nbsp;<img height=&quot;30dp&quot; width=&quot;30dp&quot; src=&quot;/images/LOGO.png&quot;></div>登录</div>'">主页</li>
	<li id="partyList_page" data-dojo-type="dojox.mobile.TabBarButton" data-dojo-props='icon1:"/javascripts/dojox/mobile/tests/images/i-icon-3.png", icon2:"/javascripts/dojox/mobile/tests/images/i-icon-1.png",url:"party/list/1" ' onclick="loadJS('/javascripts/partyList.js')">晚会信息</li>
	<!--<li id="login_page" data-dojo-type="dojox.mobile.TabBarButton" data-dojo-props='icon1:"/images/users/userbtm.png", icon2:"/images/users/userbtm.png",url:"login"' onclick="loadJS('/javascripts/login.js');">个人信息</li>-->
<script>
	var text='<li id="login_page" data-dojo-type="dojox.mobile.TabBarButton" data-dojo-props=\'icon1:"/javascripts/dojox/mobile/tests/images/i-icon-3.png", icon2:"/javascripts/dojox/mobile/tests/images/i-icon-1.png",url:"login/'+Math.random()+'"\' onclick="loadJS(\'/javascripts/login.js\');">个人信息</li>'
//此处是为了解决login页面被缓存后无法正确或许到后台跳转信息
	document.write(text);

</script>

</ul>
</body>
</html>