<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar','Button']" ></script>
    <script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
    <script src="/javascripts/jquery-2.1.4.js"></script>

    <script type="text/javascript">
        require([
            "dojox/mobile/parser",
            "dojox/mobile",
            "dojo/ready",
            "dojox/mobile/compat",
            "dojox/mobile/ComboBox",
            "dojox/mobile/ScrollableView",
            "dojox/mobile/ListItem",
            "dojox/mobile/Button",
            "dojox/mobile/TabBar",
                "dojox/mobile/TextBox"

        ]);


    </script>
    <script src="/javascripts/login.js"></script>
    <style>
        html,body{
            height: 100%;
            overflow: hidden;
        }

    </style>
    <title>LBS</title>
</head>
<body>
<div id="login" data-dojo-type="dojox.mobile.ScrollableView">
    <!--<h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props='fixed:"top"'>登录</h1>-->
    <ul data-dojo-type="dojox.mobile.RoundRectList" >
    <center>
        <li data-dojo-type="dojox.mobile.ListItem" style="font-size:14px" >

            您的账户: <input  data-dojo-type="dojox/mobile/TextBox" class="showName" intermediateChanges="true" selectOnClick="true" size="30%"   id="username">

    </li>
        <li data-dojo-type="dojox.mobile.ListItem" style="font-size:14px">

            输入密码:<input type="password" id="password" size="30%">
        </li>
    </center>
    </ul>
    <center><label id="logsug" style="color: #e50808"></label></center>
   <center>
       <!--<button data-dojo-type="dojox/mobile/Button"  id="enter" style="width:70%" onclick="enter()" >登录</button><br><br>-->
       <!--<button data-dojo-type="dojox/mobile/Button" data-dojo-props='url:"register"' id="register" style="width:45%" onclick="loadJS('/javascripts/register.js')">你说你没有帐号?</button>-->
       <!--<button data-dojo-type="dojox/mobile/Button"  id="forget" style="width:45%" >忘记密码？</button>-->
   </center>
    <ul data-dojo-type="dojox.mobile.RoundRectList">
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='moveTo:"#"' id="enter" onclick="enter()">
            登录
        </li>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='url:"register"'  id="register_page" onclick="loadJS('/javascripts/register.js')">
            你说你没有帐号?
        </li>
        <li id="forget" data-dojo-type="dojox.mobile.ListItem" data-dojo-props='moveTo:"#"'>
            忘记密码？
        </li>

    </ul>

</div>

</body>
</html>
