<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>晚会信息列表</title>

    <style type="text/css">

        #pullToRefreshPanel {
            position: absolute;
            top: 0px;
            width: 100%;
            z-index: 100;
            font-weight: bold;
            overflow: hidden;
            background-color: #E4E7EE;
            padding-left: 20px;
        }

        #pullToRefreshPanel > div {
            position: inherit;
            bottom: 12px;
            padding-left: 22px;
            width: 100%;
            height: 100%;
            color: #6E8098;
            background-repeat: no-repeat;
            background-position: bottom left;
        }

        #pullToRefreshPanel > div > div {
            position: absolute;
            bottom: 4px;
        }

        .pullDownToUpdate > div {
            background-image: url('images/pull-arrow.png');
        }

        .pullDownToUpdate > div > div:before {
            content: "Pull down to update";
        }

        .releaseToUpdate > div {
            background-image: url('images/release-arrow.png');
        }

        .releaseToUpdate > div > div:before {
            content: "Release to update";
        }




    </style>


    <script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar','PageIndicator']" ></script>
    <script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true, mblAlwaysHideAddressBar: true"></script>
    <script src="/javascripts/jquery-2.1.4.js"></script>

    <script type="text/javascript">
        require([
            "dojo/ready",
            "dojo/on",
            "dojo/dom",
            "dojo/dom-class",
            "dijit/registry",
            "dojox/mobile/ListItem",
            "dojox/mobile/parser",
            "dojox/mobile",
            "dojox/mobile/compat",
            "dojox/mobile/ScrollableView",
            "dojox/mobile/Heading",
            "dojox/mobile/RoundRect",
            "dojox/mobile/RoundRectList"
        ], function(ready, on, dom, domClass, registry,ListItem){
            ready(function(){
                var pullToRefreshPanel = dom.byId("pullToRefreshPanel");
                var topMessage = dom.byId("topMessage");
                var scrollableView = registry.byId("sview");
                var list = registry.byId("list");
                var pullToRefreshPanelDisplayed = false;
                var refreshOnTouchEnd = false;
                var numberOfUpdates = 0;
                var numOfParty=0;
                var numOfUpdata=0;
                var displayPullToRefreshPanel = function() {
                    pullToRefreshPanelDisplayed = true;
                    pullToRefreshPanel.style.display="block";
                };

                var hidePullToRefreshPanel = function() {
                    pullToRefreshPanelDisplayed = false;
                    pullToRefreshPanel.style.display="none";
                };

                scrollableView.on("beforescroll", function(evt){
                    if(evt.beforeTop){
                        // display the pullToRefreshPanel panel if it is not
                        if(!pullToRefreshPanelDisplayed){
                            displayPullToRefreshPanel();
                        }
                        // resize the pullToRefreshPanel according to the scroll destination
                        pullToRefreshPanel.style.height= evt.beforeTopHeight + "px";
                        pullToRefreshPanel.style.top= -evt.beforeTopHeight + "px";
                    }else{
                        // hide the pullToRefreshPanel panel if it is displayed
                        if(pullToRefreshPanelDisplayed){
                            hidePullToRefreshPanel();
                        }
                    }
                    if(evt.beforeTopHeight > 80){
                        domClass.remove(pullToRefreshPanel, "pullDownToUpdate");
                        domClass.add(pullToRefreshPanel, "releaseToUpdate");

                        refreshOnTouchEnd = true;
                    }else{
                        domClass.remove(pullToRefreshPanel, "releaseToUpdate");
                        domClass.add(pullToRefreshPanel, "pullDownToUpdate");
                        refreshOnTouchEnd = false;
                    }
                });

                scrollableView.on("touchend", function(evt){
                    // We're done scrolling:
                    // - hide the pullToRefreshPanel if it is displayed
                    // - perform refresh if specified
                    if(pullToRefreshPanelDisplayed){
                        hidePullToRefreshPanel();
                    }
                    if(refreshOnTouchEnd){
                        addNewParty();
                        refreshOnTouchEnd = false;







                    }
                });

                var addNewList =function (ID,name,time,location,type,poster){

                    var HTML='<table border="0" width="100%" ><tr><th rowspan="4" ><img src="'+poster+'" width=100%  /></th><td width="70%">'+name+'</td></tr><tr><td width="30%">'+type+'</td></tr><tr><td width="30%">'+time+'</td></tr><tr><td width="30%" >'+location+'</td></tr></table> '




                    var item=new ListItem({
                        moveTo: "#",
                        innerHTML: HTML,
                        variableHeight:true,
                        noArrow: true
                    });
                    list.addChild(item);

                }






                deviceTheme.loadDeviceTheme('Custom')

                function addNewParty(){

                    dateObj = new Date()
                    $.post('/party/',{
                        method:'getPartyInfo',
                        detail:{
                            location:'成都',
                            newOrOld:'old',
                            type:'歌舞',
                            obtainedRows:numOfParty,//这个参数用在 newOrold为new时,传递给后台你现在所拿到信息的条数
                            rows:10,//这个参数只在 newOrold为old 有用,用于指定需要后台返回晚会信息的条数
                            partyDate:dateObj.toUTCString(),
                            needed:['ID','name','time','location','type','poster']


                        }},function(data,status){
                        //拿到相应信息
                        numOfUpdata=0;
                        for(var i=0;i<data.partyInfo.length;i++){
                            numOfUpdata++;

                            addNewList(data.partyInfo[i].ID,data.partyInfo[i].name,data.partyInfo[i].time,data.partyInfo[i].location,data.partyInfo[i].type,data.partyInfo[i].poster);
                        }

                        numOfParty=numOfParty+numOfUpdata;
                        topMessage.innerHTML = "更新了 " + numOfUpdata + " 个晚会 !";



                    });




                };











            });
        });




    </script>

</head>
<body style="visibility:hidden;">
<div id="sview" data-dojo-type="dojox.mobile.ScrollableView">
    <h1 data-dojo-type="dojox.mobile.Heading" fixed="top">晚会信息列表</h1>
    <div id="pullToRefreshPanel" style="display: none;">
        <div><div></div></div>
    </div>
    <div id="topMessage" data-dojo-type="dojox.mobile.RoundRect">
        晚会列表
    </div>
    <ul data-dojo-type="dojox.mobile.RoundRectList" id="list">
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            <table border="0" width="100%" >
                <tr>
                    <th rowspan="3" > <img src="/images/parties/1/poster.jpg" width=100%  /></th>
                    <td width="70%">电子科技大学动漫社夏日祭</td>
                </tr>
                <tr>
                    <td width="30%">2015年8月2日 18:51:09</td>
                </tr>
                <tr>
                    <td width="30%" >成电会堂</td>
                </tr>
            </table>


            </li>



    </ul>
</div>
</body>
</html>
