<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/javascripts/dojox/mobile/themes/common/dijit/dijit.css" rel="stylesheet"/>
    <script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar','Button','Overlay','Tooltip','IconContainer']" ></script>
    <script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
    <script src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/partyInfo.js">


    </script>
    <style>
        button {
            width: 120px;
            margin: 15px 10px 0;
        }
        button.customButton {
            border-color: #cc3333;
            background-image: url(/javascripts/dojox/mobile/themes/custom/compat/red-button-bg.png);
            color: #ffffff;
            height: 27px;
        }
        button.customButtonSelected {
            background-image: url(/javascripts/dojox/mobile/themes/custom/compat/red-button-sel-bg.png);
        }



        html,body{
            height: 100%;
            overflow: hidden;
        }





    </style>
    <title>LBS</title>
</head>
<body >

<div data-dojo-type="dojox.mobile.Heading"
     data-dojo-props="label: '<%= partyName %>'">
		<span data-dojo-type="dojox.mobile.ToolBarButton" id="back"
              data-dojo-props="arrow: 'left', icon: 'mblDomButtonWhiteDownArrow', label: '返回'" style="display:block" onclick="javascript:history.back(-1);" ></span>

    <span data-dojo-type="dojox.mobile.ToolBarButton" id="renew"
      data-dojo-props="arrow: 'left', icon: 'mblDomButtonWhiteDownArrow', label: '提交修改'" style="display:none" onclick="renew();" ></span>
<% if(isPublisher==1){ %>
    <span data-dojo-type="dojox.mobile.ToolBarButton" data-dojo-props='label:"修改"' style="float:right;" onclick="changeEditMode();"></span>
<% } %>



</div>

<div id="partyInfo" data-dojo-type="dojox.mobile.ScrollableView">


    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">基本信息</h2>
    <ul data-dojo-type="dojox.mobile.RoundRectList" >
        <li   data-dojo-type="dojox.mobile.ListItem"  data-dojo-props='variableHeight:true' >
            <div id="party" hidden><%= partyID %></div>
          活动名称:<div class="info"><%= partyName %></div><input id="new_name" data-dojo-type="dojox/mobile/TextBox" value="<%= partyName %>" intermediateChanges="true" selectOnClick="true" class="edit" style="width:100%;display:none">

        </li>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            活动时间: <div class="info"><%= partyTime %></div><input id="new_time" data-dojo-type="dojox/mobile/TextBox" value="<%= partyTime %>" intermediateChanges="true" selectOnClick="true" class="edit" style="width:100%;display:none">
        </li>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            活动地点:<div class="info"><%= partyLocation %></div><input id="new_location" data-dojo-type="dojox/mobile/TextBox" value="<%= partyLocation_lo_la %>" intermediateChanges="true" selectOnClick="true" value="点击选择地点" class="edit" style="width:100%;display:none" onclick="window.open('/map'); ">
            <div class="edit" style="display:none"><br><div id="new_location_detail"><%= partyLocation%></div> </div>
        </li>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            类型:<div class="info"><%= partyType %></div><input id="new_type" data-dojo-type="dojox/mobile/TextBox" value="<%= partyType %>" intermediateChanges="true" selectOnClick="true" class="edit" style="width:100%;display:none">
        </li>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            发布人:<div ><%= partyPublisher %></div>
        </li>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            主办方:<div class="info_"><%= partyHosts %></div><input id="new_hosts" data-dojo-type="dojox/mobile/TextBox" value="<%= partyHosts %>" intermediateChanges="true" selectOnClick="true" class="edit_" style="width:100%;display:none">
        </li>

    </ul>
    <ul data-dojo-type="dojox.mobile.RoundRectList">
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            <!--<% if(isTaken==1){%>-->
            <!--<center> <button data-dojo-type="dojox/mobile/Button" id="btn2" class="mblRedButton" onclick="takePartIn(<%= partyID %>,0)" style="width:90%">放弃参加</button></center>-->
            <!--<% }else if(isTaken==0){%>-->
            <!--<center> <button data-dojo-type="dojox.mobile.Button" id="btn3" class="mblBlueButton" onclick="takePartIn(<%= partyID %>,1)" style="width:90%" >我要参加</button></center>-->
            <!--<% }else if(isTaken==-1){%>-->
            <!--<a href="../../"><center> <button data-dojo-type="dojox.mobile.Button"  id="btn4" class="mblBlueButton" style="width:90%" >需要先登录才能参加</button></center></a>-->
            <!--<% } %>-->


            <center> <button data-dojo-type="dojox/mobile/Button" id="btn2" class="mblRedButton" onclick="takePartIn(<%= partyID %>,0)" style="width:90%;display:none">放弃参加</button></center>

            <center> <button data-dojo-type="dojox.mobile.Button" id="btn3" class="mblBlueButton"  onclick="takePartIn(<%= partyID %>,1)" style="width:90%;display:none" >我要参加</button></center>

            <a href="../../"><center> <button data-dojo-type="dojox.mobile.Button"  id="btn4" class="mblBlueButton" style="width:90%;display:none" >需要先登录才能参加</button></center></a>

        </li>

        <script>
            if(<%= isTaken %>==1){

                document.getElementById("btn2").style.display='block';

            }else if(<%= isTaken %>==0){

                document.getElementById("btn3").style.display='block';
            }else if(<%= isTaken %>==-1){

                document.getElementById("btn4").style.display='block';

            }

        </script>



    </ul>
    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">海报</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">

        <div align="center">
            <img src=<%= posterURL %> width=100% height=100% />
        </div>

    </div>

    <h2 data-dojo-type="dojox.mobile.RoundRectCategory" data-dojo-props='variableHeight:true'>节目表</h2>
    <ul data-dojo-type="dojox.mobile.RoundRectList">

        <% if(shows==null||shows.length==0){ %>
        <%# 表示暂无节目表 #%>
            <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
                暂无节目表
            </li>
        <%

        }else{
            for(var i=1;i<=shows.length;i++){ %>
                <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
                    <div class="info">
                  <div align='left'> 节目<%= i %>: <%= shows[i-1].show%></div>
                    <div align='right'>  演员: <%= shows[i-1].actors%></div>
                    </div>

                    <div class="edit" style="width:100%;display:none">
                    <center><input  data-dojo-type="dojox/mobile/TextBox" class="showName" value="<%= shows[i-1].show%>" intermediateChanges="true" selectOnClick="true">--<input  data-dojo-type="dojox/mobile/TextBox" class="showActors" intermediateChanges="true" value="<%= shows[i-1].actors%>" selectOnClick="true"></center>
                    </div>
                </li>

        <% } %>
        <% } %>


    </ul>
    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">详情</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
        <div class="info">  <%= detail %></div>

        <br>
        <div class="edit" style="display:none"> <center><textarea id="new_detail" data-dojo-type="dojox.mobile.TextArea" rows="20" cols="30" style="width:90%"  ><%= detail %></textarea> </center> </div>

    </div>

    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">投票区</h2>
    <div data-dojo-type="dojox.mobile.RoundRect">
    <center>
        <input name="vote" id="vote" type="image" onclick="vote()" src="/javascripts/dojox/mobile/tests/images/tab-icon-21.png" /><div id="vote_num">当前票数:<%= votes %></div>

    </center>
    </div>


    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">吐槽区</h2>


    <ul data-dojo-type="dojox.mobile.RoundRectList">

        <% if(comments.length==0){ %>
        <%# 表示暂无评论 #%>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>
            居然没有人吐槽?!快来抢沙发
        </li>
        <%

        }else{
        for(var i=1;i<=comments.length;i++){ %>
        <li data-dojo-type="dojox.mobile.ListItem" data-dojo-props='variableHeight:true'>


            <% if(i%2==0){%>
            <div align="right">

            <% }else{%>
                <div align="left">

            <%}%>
            <img src='/images/pic/woman.png' width=7% height=7% /> <%= comments[i-1].userName %>:<%= comments[i-1].content %>
            </div>
        </li>

        <%}%>

        <% } %>









    </ul>





    <h2 data-dojo-type="dojox.mobile.RoundRectCategory">我也来吐槽一下</h2>
    <div data-dojo-type="dojox.mobile.RoundRect" align="center">
        <span class="bold">吐槽方式</span>

            <input type="radio" id="rb_danmu" data-dojo-type="dojox.mobile.RadioButton" name="type" value="danmu" checked onclick="changeType('danmu');"><label for="rb_danmu">弹幕</label>
            <input type="radio" id="rb_comments" data-dojo-type="dojox.mobile.RadioButton" name="type" value="comments" onclick="changeType('comments');"><label for="rb_comments">评论</label>


        <hr/>

        <div id="danmuArea" >
                <span class="bold">弹幕颜色:</span>
                   <input id="color1" readOnly value="默认黑色" style="background-color:transparent;"onclick="dijit.byId('colorPicker1').show(this, ['above-centered','below-centered','after','before'])">

                <hr/>
                <span class="bold">弹幕大小:</span>
                <div id="size" data-dojo-type="dojox/mobile/Switch" data-dojo-props='value:"on", leftLabel:"中", rightLabel:"小", shape:"mblSwRoundShape1"'></div>
                <hr/>
                <span class="bold">弹幕样式</span>
                </br>

                <input type="radio" id="rb_Scroll" data-dojo-type="dojox.mobile.RadioButton" name="danmuType" value="Scroll" checked><label for="rb_Scroll">滚动弹幕</label>
                <input type="radio" id="rb_Top" data-dojo-type="dojox.mobile.RadioButton" name="danmuType" value="Top"><label for="rb_Top">顶端弹幕</label>
                <input type="radio" id="rb_Bottom" data-dojo-type="dojox.mobile.RadioButton" name="danmuType" value="Bottom"><label for="rb_Bottom">底端弹幕</label>

                </br>

                <div id="colorPicker1" data-dojo-type="dojox.mobile.Opener" data-dojo-props="onHide:getColor1">
                    <h1 dojoType="dojox.mobile.Heading" label="选择一个颜色">
                        <span dojoType="dojox.mobile.ToolBarButton" label="Done" class="mblColorBlue" style="position:absolute;width:45px;right:0;"
                          onclick="dijit.byId('colorPicker1').hide(true)"></span>
                        <span dojoType="dojox.mobile.ToolBarButton" label="Cancel" class="mblColorBlue" style="position:absolute;width:45px;left:0;"
                          onclick="dijit.byId('colorPicker1').hide(false)"></span>
                    </h1>
                    <div id="colorPalette" dojoType='dijit.ColorPalette' data-dojo-props="value:'#000000'" style="height: 400px;"></div>
                </div>

        </div>

        <br>
        <textarea id="content" data-dojo-type="dojox.mobile.TextArea" rows="3" cols="20" style="width:100%" onclick="if(this.value=='吐槽点什么好呢')this.value=''">吐槽点什么好呢</textarea>

        <button data-dojo-type="dojox.mobile.Button" id="send" class="mblBlueButton" style="width:90%" onclick="send()">发送</button>
    </div>

    <script>





    </script>



    <div data-dojo-type="dojox.mobile.RoundRect">
        猜你喜欢<br>


    </div>


</div>

</body>
</html>