<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar','Button']" ></script>
    <script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
    <script src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript">
        require([
            "dojox/mobile/parser",
            "dojox/mobile",
            "dojo/ready",
            "dojox/mobile/compat",
            "dojox/mobile/Button",
            "dojox/mobile/ComboBox",
            "dojox/mobile/ScrollableView",
            "dojox/mobile/ListItem",
            "dojox/mobile/TabBar",
            "dojox/mobile/RoundRectList"
        ]);


    </script>
    <script type="text/javascript" src="/javascripts/register.js"> </script>
    <style>
        html,body{
            height: 100%;
            overflow: hidden;
        }


    </style>
    <title>注册</title>
</head>
<body>
<div id="register" data-dojo-type="dojox.mobile.ScrollableView">
    <!--<h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props='fixed:"top"'>注册</h1>-->
    <center> 账户类型<div id="type" data-dojo-type="dojox/mobile/Switch" data-dojo-props='value:"on", leftLabel:"用户", rightLabel:"举办方", shape:"mblSwRoundShape1"'></div></center>

    <ul data-dojo-type="dojox.mobile.RoundRectList" >
       <center><li data-dojo-type="dojox.mobile.ListItem" style="font-size:14px" >
        输入账户:<input type="text" size="30%"   id="newusername">
    </li>
    <li data-dojo-type="dojox.mobile.ListItem" style="font-size:14px">
        输入密码:<input type="password" id="password1" size="30%">
    </li>
    <li data-dojo-type="dojox.mobile.ListItem" style="font-size:14px">
        重复密码:<input type="password" id="password2" size="30%">
    </li>
           <li data-dojo-type="dojox.mobile.ListItem" style="font-size:14px" >
               您的邮箱:<input type="text" size="30%"   id="email">
           </li>
       </center>
   </ul>
   <center> 您的性别<div id="sex" data-dojo-type="dojox/mobile/Switch" data-dojo-props='value:"on", leftLabel:"萝莉", rightLabel:"正太", shape:"mblSwRoundShape1"'></div></center>
    <center><label id="regsug" style="color: #e50808"></label></center>

       <center> <button data-dojo-type="dojox/mobile/Button"  id="reg"  onclick="reg()" style="width:90%;height:70px " class="mblBlueButton">注册</button></center>




</div>


</body>
</html>