﻿<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>注册页面</title>
<link href="/stylesheets/register/boilerplate.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/register/register.css" rel="stylesheet" type="text/css">

<!--
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<script src="/javascripts/jquery-2.1.4.js"></script>
</head>
<body>



<div class="gridContainer clearfix">
  <div id="div1" class="fluid">注册</div>
</div>
<hr>
<script>
	var able=false;
	var url='/register/uesrsControl';//提交注册处理页面
	


	function checkname(){

					$.post("/register/uesrsControl",{
						method:'register',
						userInfo:{userType:1,
							name:$('#username').val(),
							sex:'F',
							password:$('#pw').val(),
							email:$('#email').val()}}
							,function(data,status){
						//do something
								$('#able').text(data);

					})

		}
		
		
		function login(){
			$.post("/register/uesrsControl",{
						method:'login',
						userInfo:{userType:1,
							name:$('#username').val(),
							password:$('#pw').val(),
							email:$('#email').val()}}
					,function(data,status){
						//do something
						if(status>=300&&status<=400){
							window.location.href='../users';
						}


						$('#able').text(data.login.state);
					})
		
		}




		

</script>



<form>
  
  <p>
    <label for="username">用户名:</label>
      <input type="text" id="username"name="username" >
      <able id="able" style="font-size: 10px; color: green;">可用</able>
  </p>
    <label for="textfield2">邮箱:</label>
      <input type="text" id="email" name="email" >
    </p>
    <p>
      <label for="textfield3">密码:</label>
      <input type="password" id="pw" name="pw" >
    </p>
    <p>
    	<input type="button" onclick="login();" name="submitLogin" id="submitLogin" value="登录">
      
      <input type="button" onclick="checkname();" name="button" id="button" value="注册">
    </p>
    <hr>
    <p>&nbsp;</p>
  
</form>

</body>
</html>
