﻿<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>注册页面</title>
<link href="/stylesheets/register/boilerplate.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/register/register.css" rel="stylesheet" type="text/css">
	<link href="/javascripts/dist/base.css" rel="stylesheet" type="text/css">
<!--
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<![endif]-->
	<script src="/javascripts/jquery-2.1.4.js"></script>
	<script src="/javascripts/dist/dropzone-amd-module.js"></script>
</head>
<body>



<div class="gridContainer clearfix">
  <div id="div1" class="fluid">注册</div>
</div>
<hr>
<script>
	var able=false;
	var url='/user/';//提交注册处理页面



	function checkname(){

					$.post(url,{
						method:'register',
						userInfo:{userType:1,
							name:$('#username').val(),
							sex:'F',
							password:$('#pw').val(),
							email:$('#email').val()}}
							,function(data,status){
						//do something
								$('#able').text(data.registerRes.state);

					})

		}


		function login(){
			$.post(url,{
						method:'login',
						userInfo:{userType:1,
							name:$('#username').val(),
							password:$('#pw').val(),
							email:$('#email').val()}}
					,function(data,status){
						//do something
						if(status>=300&&status<=400){
							window.location.href='../users';
						}


						$('#able').text(data.login.state);
					})

		}


	function a(){


		$.post(url,{
					method:'getUserInfo',
					userInfo:{ID:-1
					}
				}
				,function(data,status){
					//do something

					$('#able').text(data.userInfo.name);
				});

	}
	function b(){

		$.post(url,{
					method:'logout'
				}
		);
	}

	function c(){

		$.post(url,{
					method:'changePassword',
			userInfo:{password:'111111',
				     newPassword:'bbbbbb'
				    }

				},function(data,status){
			//do something

			$('#able').text(data.changePasswordRes.state);
		});

	}


	function d(){

		$.post('/party/',{
			method:'addParty',
			addPartyInfo:{
							name:'晚会3',
							time: new Date().toUTCString(),
						   location:"成都",
						   location_lo_la:"",
						   type:"歌舞",
						   show_actors:[{show:'I love you',actors:'XXX'},{show:'you',actors:'233'}],
						   hostname:"555,777,8,9,1237891379" ,
	               //        poster:"../temp/poster/1",
				           detail:"哈哈哈"

		}},function(data,status){
			//do something

			$('#able').text(data.changePasswordRes.state);
		});

	}

	function e(){
		dateObj = new Date()

		$.post('/party/11/',{
			method:'getPartyInfo',
			detail:{
				location:'成都',
				newOrOld:'old',
				type:'歌舞',
				obtainedRows:0,//这个参数用在 newOrold为new时,传递给后台你现在所拿到信息的条数
				rows:10,//这个参数只在 newOrold为old 有用,用于指定需要后台返回晚会信息的条数
				partyDate:dateObj.toUTCString(),
				needed:['ID','name','time','location','type','show_actors','hostname','poster','detail']


			}},function(data,status){
			//do something


		});


	}



	function f(){

		$.post('/party/',{
			method:'renewPartyInfo',
			reNewPartyInfo:{
				ID:1,

				time: new Date().toUTCString(),
				location:"成都",
				location_lo_la:"",

				show_actors:[{show:'I love you',actors:'XXX'},{show:'you',actors:'233'}],

				//        poster:"../temp/poster/1",
				detail:"23333333333333"

			}},function(data,status){
			//do something


		});

	}

	function g(){

		$.post('/party/',{
			method:'sendComment',
			commentInfo:{
				partyID:   1     ,
				type:1,
				contentInfo:{
					content:'11',
							danmuType:    1,          // 1滚动字幕 2 3 4
							danmuSize:     2,         //1 2 3三种大小 1最小 2默认 3最大
							danmuColor:         'FFFFFF'    //形如FFFFFF的十六进制格式


		                     }

			}},function(data,status){
			//do something


		});

	}

	function i(){

		$.post('/party/',{
			method:'getComment',
			commentDetail:{
		                           partyID:9,
		                           type:1,
			                           obtainedRows:0,//传递给后台你现在所拿到信息的条数
		                           rows:10//用于指定需要后台返回晚会信息的条数

		                       }},function(data,status){
			//do something


		});

	}


	function h(){
		$.post('/user/',{
			method:'vote',
			vote:{
				partyID:11

			}



			},function(data,status){
			//do something


		});


	}


</script>



<form>

  <p>
    <label for="username">用户名:</label>
      <input type="text" id="username"name="username" >
      <able id="able" style="font-size: 10px; color: green;">可用</able>
  </p>
    <label for="textfield2">邮箱:</label>
      <input type="text" id="email" name="email" >
    </p>
    <p>
      <label for="textfield3">密码:</label>
      <input type="password" id="pw" name="pw" >
    </p>
    <p>
    	<input type="button" onclick="login();" name="submitLogin" id="submitLogin" value="登录">

      <input type="button" onclick="checkname();" name="button" id="button" value="注册">
		<input type="button" onclick="a();" name="button1" id="getInfo" value="getInfo">
		<input type="button" onclick="b();" name="button1" id="out" value="out">
		<input type="button" onclick="c();" name="button2" id="changepassword" value="changepassword">
		<input type="button" onclick="d();"  value="添加晚会信息测试">
		<input type="button" onclick="e();"  value="获取晚会信息">
		<input type="button" onclick="f();"  value="renew晚会信息">
		<input type="button" onclick="g();"  value="comment">
		<input type="button" onclick="i();"  value="getcomment">
		<input type="button" onclick="h();"  value="vote">
    </p>
    <hr>
    <p>&nbsp;</p>

</form>




<form id="my-awesome-dropzone" action="/party/uploadposter" class="dropzone"></form>

</body>
</html>
