<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript" src="/javascripts/dojox/mobile/deviceTheme.js" data-dojo-config="mblThemeFiles: ['base','TabBar']" ></script>
    <script type="text/javascript" src="/javascripts/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
    <script src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript">
        require([
            "dojox/mobile/parser",
            "dojox/mobile",
            "dojo/ready",
            "dojox/mobile/compat",
            "dojox/mobile/ComboBox",
            "dojox/mobile/ScrollableView",
            "dojox/mobile/ListItem",
            "dojox/mobile/TabBar"
        ]);
    </script>
    <style>
        html,body{
            height: 100%;
            overflow: hidden;
        }

    </style>
    <title>LBS</title>
</head>
<body>
<div id="userinfo" data-dojo-type="dojox.mobile.ScrollableView">
    <h1 data-dojo-type="dojox.mobile.Heading" data-dojo-props='fixed:"top"'>用户信息</h1>
    <div data-dojo-type="dojox.mobile.RoundRect" style="height: 60px">
        <iframe style="width: 50px;height: 50px;float: left" id="headicon"></iframe><div style="padding:15px">昵称:<br><label><%= userName %></label></div><br>

    </div>
    <div data-dojo-type="dojox.mobile.RoundRect">
        性别:
        <% if(userSex=='女'){ %>
        <img src="/images/pic/woman.png" width="45" height="45" />
        <% }else if(userSex=='男'){ %>
        <img src="/images/pic/man.png" width="45" height="45" />
        <% } %>
        <br>

    </div>
    <div data-dojo-type="dojox.mobile.RoundRect">
        邮箱:<%= userEmail %><br>

    </div>
    <% if(userType==0){%>
    <%#       判断如果是主办方,则显示举办过的晚会和正在办的晚会         #%>

    <div data-dojo-type="dojox.mobile.RoundRect">
        正在举办的晚会:
        <% for(var i=1;i<=holdingpartys.length;i++){%>
        <a href="../../party/info/<%= holdingpartys_ID[i-1] %>"><%= holdingpartys[i-1] %></a>
        <% } %>

        <br>


    </div>

    <div data-dojo-type="dojox.mobile.RoundRect">
        过去举办的晚会:

        <% for(var i=1;i<=holdedpartys.length;i++){%>
        <a href="../../party/info/<%= holdedpartys_ID[i-1] %>"><%= holdedpartys[i-1] %></a>
        <% } %>



        <br>

    </div>
    <% }else if(userType==1){ %>


    <div data-dojo-type="dojox.mobile.RoundRect">
        参加过的晚会:
        <% for(var i=1;i<=takenpartys.length;i++){%>
        <a href="../../party/info/<%= takenpartys_ID[i-1] %>"><%= takenpartys[i-1] %></a>
        <% } %>
        <br>

    </div>

    <% } %>
    <div data-dojo-type="dojox.mobile.RoundRect">
        其他<br>

    </div>
</div>

</body>
</html>